.cell{
    width: 100px;
    height: 100px;
    background-color:cornflowerblue;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    font-size: 48px;
    margin: 10px;
    color:white;
}
.game-info{
    width:600px;
    height: 200px;
    font-size: 18px;
    color: white;
    background-color: #242424;
    padding: 10px;
    margin-top: 10px;

}
.row{
    display: flex;
}

.button{
    height: 50px;
    border-radius: 10px;
    font-size: 28px;
    background-color: darkslategrey;
    color: white;
}

.winnerLabel{
    display: flex;
    justify-content: right;
    color: white;
}
.board{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.title{
    display: flex;
    color : white;
    justify-content: center;
    background-color: dodgerblue;
}

.score-board{
    width: 360px;
    
    display: grid;
    grid-auto-flow: column;
    margin-top: 5px;
}
.score-board div{
    color : white;
    text-align: center;
    
    font-size: 2em;
    padding:5px;
    font-weight: bold;
    background-color: black;
}
.score-board div:first-child{
    background-color: #950000;
}
.button-start{
    height: 40px;
    width: 200px;
    
    font-size: 18px;
    background-color: #262626;
    color: white;
}
.input-header{
    height: 35px;
    width: 200px;
}
.game-title{
    display: flex;
    color : white;
    justify-content: center;
    background-color: dodgerblue;
}

.turn-label{
    color: white;
    
}